.js-form-item-keydisplay .output {
  display: inline-block;
  vertical-align: middle;
  color: var(--input-fg-color--description);
}
.js-form-item-keydisplay .output > [data-value] {
  display: none;
}
.js-form-item-keydisplay .output > [data-value]:not([data-value=""]) {
  display: block;
}
